<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pelicula</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Detalle de Pelicula</h2>
    <p>Titulo:<%= peliculas.title %> </p>
    <p>Clasificación:<%= peliculas.rating %></p>
    <p>Premios:<%= peliculas.awards %></p>
    <p>Fecha de Estreno:<%= peliculas.release_date %></p>
    <% if(peliculas.length) { %> 
    <p>Duracion:<%= peliculas.length %></p>
    <% } %> 
    <% if(peliculas.genres) { %> 
    <p>Genero:<%= peliculas.genres.name %></p></p>
    <% } %> 
    <% if (peliculas.actors.length > 0) { %> 
    <p>Actores:</p>
    <ul>
        <% for (let i = 0; i < peliculas.actors.length ; i++) { %>
        <li>
            <p><%=  peliculas.actors[i].first_name %> <%=  peliculas.actors[i].last_name %></p>
        </li>
        <% } %> 
    </ul>
    <% } else { %> 
        <p>Lo sentimos, pero en nuestra base de datos esta pelicula no tiene actores :(</p>
    <% } %> 
</body>
</html>
