<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pelicula</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Detalle de Pelicula</h2>
    <p>Titulo:<%= peliculas.title %> </p>
    <p>Clasificación:<%= peliculas.rating %></p>
    <p>Premios:<%= peliculas.awards %></p>
    <p>Fecha de Estreno:<%= peliculas.release_date %></p>
    <% if(peliculas.length) { %> 
    <p>Duracion:<%= peliculas.length %></p>
    <% } %> 
    <% if(peliculas.genres) { %> 
    <p>Genero:<%= peliculas.genres.name %></p></p>
    <% } %> 
    <p>Actores:</p>
</body>
</html>
