<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/nav-var.css">
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <h2>Seccion de login</h2>
    
    <main>
        <div class="caja1">
            <form action="/user/login" method="POST" class="form">
                <p class="elemento1"> INGRESÁ TUS DATOS </p>

                    <div class="div-form">
                    <label for="correo"></label>
                    <input type="email" name="email" placeholder="ejemplo@gmail.com"
                    value="<%= locals.oldData ? oldData.email : null %>">
                    <% if(locals.errors && errors.email) { %> 
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                    </div>
                    <div class="div-form">
                    <label for="contraseña"></label>
                    <input type="password" name="contraseña" placeholder="contraseña">
                    <% if(locals.errors && errors.contraseña) { %> 
                        <div class="text-danger">
                            <%= errors.contraseña.msg %> 
                        </div>
                    <% } %>
                    </div>
                    <input type="checkbox" name="recuerdame">
                    <label>Recuérdame</label>

                <a href="#" class="elemento5">¿Olvidaste tu contraseña?</a>

                <button type="submit" class="boton">INICIAR SESIÓN</button>

            </form>
        </div>
    </main>
    <%- include ('partials/footer.ejs') %>

</body>